<template>
    <div>
        <form action="Prop.php" method="POST" name="calc">
    		<p>Coloque los Valores:</p> 
 			<input type ="text" name= "c1" /><br  /><br />
 			<input type ="text" name= "c2" /><br  /><br />
 	
			<p>Selecciona la operacion:<select name = "Lista">
	 			<option value = "sumar">Sumar</option>
	 			<option value = "restar">Restar</option>
		 		<option value = "multiplicar">Multiplicar</option>
	 			<option value = "dividir">Dividir</option>
    			</select>
			</p><br />
			<input type ="submit" value = "Ver Resultados" />
	    </form >
    </div>
</template>

<style>
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/fondo-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 4em;       
}
/*Configuración Calculadora Version 0.1*/
p
{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: white
}
</style>