
<template>
  <div>
    <h3>CALCULADORA</h3>
    <div class="bodyCalculadora">
      <div class="contentCalculadora">
        <div class="screem">
          <input type="text" placeholder="0" disabled id="screem-result" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="7" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="8" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="9" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="+" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="4" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="5" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="6" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="-" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="1" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="2" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="3" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="*" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius btn-borrar">
          <input type="button" value="C" class="borrar" onclick="borrar()" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="0" onclick="getData(this)" />
        </div>
        <div class="btn-Cal btncal-radius btn-igual">
          <input type="button" value="=" class="igual" onclick="calcular()" />
        </div>
        <div class="btn-Cal btncal-radius">
          <input type="button" value="/" onclick="getData(this)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

let screem = document.querySelector('#screem-result');

function getData(ref)
{
    let value = ref.value;
    screem.value += value;
}

function borrar()
{
    screem.value = "";
}

function calcular()
{
    try 
    {
        screem.value = eval(screem.value);
    } 
    catch (error) 
    {

            screem.value = 'Error';
            setTimeout(() => 
            {
                borrar();
            }, 500);
    }
    
}
</script>


<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../assets/fondo-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 4em;
}

/*Configuración Calculadora Version 0.2*/
.bodyCalculadora {
  margin: 0px 0px 55px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentCalculadora {
  width: 400px;
  height: 450px;
  background-color: #68686a;
  border-radius: 10px;
  padding: 20px 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 85px;
  grid-gap: 20px;
}

.screem {
  background-color: #16181f;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 15px;
  grid-column: 1 / 5;
}

.screem > input {
  background: none;
  color: inherit;
  border: none;
  padding: 0px;
  outline: inherit;
  font-size: 52px;
  width: 100%;
}

.btn-Cal {
  background-color: rgb(6, 10, 135);
}

.btncal-radius {
  border-radius: 18px;
}

.btn-Cal > input {
  border: 0px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  outline: none;
  color: black;
  font-size: 35px;
  background-color: rgb(150, 146, 146);
}

.btn-Cal > .igual {
  background-color: rgb(50, 179, 71);
}

.btn-Cal > .borrar {
  background-color: rgb(233, 243, 45);
}

.btn-Cal :hover {
  transition-duration: 0.5s;
  background-color: rgb(37, 37, 109);
  color: white;
}

.btn-borrar :hover {
  transition-duration: 0.4s;
  background-color: #59570d;
  color: rgb(253, 251, 251);
}

.btn-igual :hover {
  transition-duration: 0.4s;
  background-color: #095a10;
  color: rgb(232, 231, 231);
}

h3 {
  padding: 10px;
  font-size: 26px;
  text-align: center;
  color: white;
  margin-top: 10px;
}
</style>