<template> 
    <div class="contenido">
                <div>
                        <h2>Bienvenido aqui encontrarás los códigos que se elaboren con el tiempo...</h2>
                        <br>
                        <router-link to="/Calculadora1"><li><a>Calculadora Version 0.1</a></li></router-link>
                        <router-link to="/Calculadora2"><li><a>Calculadora Version 0.2</a></li></router-link>
                </div>
            </div>
</template>

<style>

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/fondo-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 4em;       
}

.contenido
{
    display: flex;
    margin: 25px 50px 50px 50px ;
    background-color: #0b0713;
    box-shadow: 1px 1px 37px rgb(121, 116, 121);
}

h2
{
    padding: 10px;
    font-size: 26px;
    text-align: center;
    color: white
    
}

p
{
    padding: 10px;
    font-size: 18px;
    color: white;
    
}


.centro
{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
}

/*Configuración de la Listas de código.html*/
.contenido li 
{
  color: white;
  list-style: square;
  margin-left: 55px;
  margin-bottom: 10px;
}

.contenido li a
{
        text-decoration: none;
        color: white;
        padding: 10px;
        width: 150px;
        font-size: 24px;
        line-height: 40px;
}
</style>