<template>
  <div class="contenido">
                <div>
                    <h2>Documentacion</h2>
                    <br>
                    
                    <p class="Parrafo">Aqui encontráras documentación referente a la materia de
                        interfacez Web, la cual se ira actualizando con el tiempo
                        los contenidos mostrados son los siguientes:
                    </p>
                    <br>
                    <br>
                    <article>
                        <h2>¿Qué es la Programación Orientada a Objetos o POO?</h2>
                        <p class="Parrafo">La Programación Orientada a Objetos (POO) es un paradigma de programación, 
                            es decir, un modelo o un estilo de programación que nos da unas guías sobre
                            cómo trabajar con él. Se basa en el concepto de clases y objetos. Este tipo
                            de programación se utiliza para estructurar un programa de software en 
                            piezas simples y reutilizables de planos de código (clases) para crear 
                            instancias individuales de objetos. Por ello buscamos es dejar de 
                            centrarnos en la lógica pura de los programas, para empezar a pensar en 
                            objetos, lo que constituye la base de este paradigma. Esto nos ayuda 
                            muchísimo en sistemas grandes, ya que en vez de pensar en funciones, 
                            pensamos en las relaciones o interacciones de los diferentes componentes 
                            del sistema. Un programador diseña un programa de software organizando
                            piezas de información y comportamientos relacionados en una plantilla llamada 
                            clase. Luego, se crean objetos individuales a partir de la plantilla de clase. 
                            Todo el programa de software se ejecuta haciendo que varios objetos interactúen
                             entre sí para crear un programa más grande.</p>
                        <br>
                        <img src="../assets/POO.png" class="Imagen" alt="">
                        <br>
                        <h2>Importancia del POO</h2>
                        <p class="Parrafo">permite que el código sea reutilizable, organizado y fácil de mantener. Sigue
                            el principio de desarrollo de software utilizado por muchos programadores 
                            DRY (Don’t Repeat Yourself), para evitar duplicar el código y crear de esta 
                            manera programas eficientes. Además, evita el acceso no deseado a los datos o
                            la exposición de código propietario, tambien permite la facil creación software 
                            de calidad: potencia en mantenimiento, la extensión y la reutilización. Basada 
                            en el modo de pensar del hombre y en el modo de operar de la maquina.</p>
                        <br>
                        <img src="../assets/Imagen-poo.png" class="Imagen" alt="">
                        <br>
                        <h2>¿Qué es la Interfaz de Usuario o UI(User Interface)?</h2>  
                        <p class="Parrafo">Es la interfaz (diseño) con la que las personas interactúan con
                            las plataformas digitales, lo que permite a un usuario interactuar de manera 
                            efectiva con un sistema. Es la suma de una arquitectura de información, junto 
                            con los patrones de interacción y los elementos visuales. para realizar un pedido
                            en una tienda online o para acceder a una app a través de un teléfono inteligente.</p>
                        <br>
                        <p class="Parrafo">Sea quien sea el usuario o consumidor, está claro que, cuanto más 
                            intuitivo y accesible sea el diseño, mucho mejor. Esto es así hasta en el caso de
                            enviar un correo electrónico bien representado gráficamente. En los elementos para
                            el diseño de páginas web y productos digitales la intuitividad debería ser objeto de
                            estudio cada cierto período de tiempo. Los tiempos cambian, y los perfiles de usuarios
                            y las tecnologías también.
                            El objetivo de casi cualquier software o página web suele ser vender, generar nuevos 
                            clientes o mantener a los que ya lo son. Así que, en los casos en los que el diseño 
                            queda obsoleto, hay que hacer un rediseño UI adaptando los elementos. Aunque a veces, 
                            nuevas técnicas y avances hacen que sea más recomendable desechar lo anterior por completo
                            y crearlo de nuevo desde 0. </p> 
                        <br>
                        <img src="../assets/Interfaz-Usuario.png" class="Imagen" alt="">
                        <br>
                        <h2>¿Qué es la Experiencia de Usuario o UX(User Experience)?</h2>
                        <p class="Parrafo"> Se puede entender que es el conjunto de factores y elementos relacionados con
                            el proceso de interacción de un usuario respecto a un producto o servicio. A menudo, este 
                            concepto se aplica a la interacción con páginas web y aplicaciones. hay que saber que la 
                            experiencia de usuario no es universal, ya que los usuarios reaccionan de maneras diversas 
                            en diferentes situaciones y además, en el caso de los contenidos digitales, van a consumirlos 
                            desde diferentes dispositivos.</p>
                        <br>
                        <h2>Importancia del la Experiencia de Usuario</h2>
                        <p class="Parrafo">Un diseño que funciona a la perfección en un caso concreto puede tener el efecto
                             opuesto sobre otro usuario. Podemos enfocar la experiencia de usuario para estimular ciertos 
                             comportamientos o reacciones, pero nunca podremos predecir exactamente lo que harán los usuarios. 
                             Por eso, un elemento muy importante de la UX es los son los tests A/B.</p>
                        <br>
                        <p class="Parrafo">Los Test A/B consisten sencillamente en probar dos variantes de algún elemento de marketing, 
                            comparar su funcionamiento para sacar conclusiones y aplicar los resultados. Aunque puede usarse con 
                            todo tipo de contenidos, generalmente es más popular a la hora de diseñar y lanzar campañas de emailing 
                            y landing pages. El proceso es muy simple: creamos dos versiones del mismo contenido que solo varían en un 
                            elemento, lanzamos ambas a la vez y comprobamos cuál funciona mejor mirando las métricas al cabo de cierto 
                            tiempo. El objetivo es identificar cambios pequeños y accionables que podemos ir aplicando a nuestro marketing 
                            para conseguir mejores resultados cada vez</p>
                         <br>
                        <p class="Parrafo">Otro aspecto importante que tenemos que tener claro es que usabilidad y experiencia de usuario 
                            no son lo mismo, aunque en algunos casos podamos verlos utilizados como sinónimos. Como veremos en el siguiente 
                            apartado, la usabilidad es un elemento más de una experiencia de usuario. No es posible tener una buena experiencia 
                            de usuario sin una buena usabilidad, pero sí que puede darse el caso de que un producto tenga una buena usabilidad 
                            y en cambio la experiencia de usuario global sea deficiente.</p> 
                        <img src="../assets/Imagen UX.jpg" class="Imagen" alt="">   
                        <br>
                        <br>
                            <h2>¿Qué son las Validaciones?</h2>
                        <p class="Parrafo">La validación de datos es un proceso que asegura la entrega de datos limpios y claros a los programas, 
                            aplicaciones y servicios que lo utilizan. Comprueba la integridad y validez de los datos que se están introduciendo en 
                            diferentes software y sus componentes. La validación de los datos garantiza que los datos cumplen con los requisitos y 
                            los parámetros de calidad.</p>
                    
                        <p class="Parrafo">La validación de datos ayuda principalmente a garantizar que los datos enviados a las aplicaciones conectadas sean completos,
                             precisos, seguros y consistentes. Esto se logra a través de controles de validación de datos y reglas que rutinariamente
                             comprueban la validez de los datos. Estas reglas generalmente se definen en un diccionario de datos o se implementan a
                            través de un software de validación de datos.</p>
                        <br>
                        <p class="Parrafo">Algunos de los tipos de validación de datos incluyen:</p>
                        <br>
                        <p class="Parrafo">-Verificación de rango: Comprueba que los datos se encuentran entre un valor aceptable superior e inferior, dentro de un cierto rango </p>
                        <br>
                        <p class="Parrafo">-Verificación de tipo: Comprueba que los datos ingresados son de un tipo esperado, un número o fecha </p>
                        <br>
                        <p class="Parrafo">-Comprobación de longitud: Comprueba que la cantidad de caracteres cumple con las expectativas, Contraseña de 8 caracteres</p>
                        <br>
                        <p class="Parrafo">-Formato de verificación: Asegura que los datos siguen un patrón establecido (usando una máscara de entrada), código postal</p>
                        <br>
                        <p class="Parrafo">-Cuadro desplegable: Asegura que el usuario solo puede elegir una opción predefinida de una lista, reduciendo las 
                            posibilidades de errores ortográficos o respuestas no deseadas</p>
                        <br>
                        <p class="Parrafo">-Comprobación de presencia: Comprueba que el usuario al menos ha introducido algo en el campo, evitando que accidentalmente lo deje vacío</p>
                        <br>
                        <h2>¿Qué es el HASH?</h2>
                        <br>
                        <p class="Parrafo">
                            es un algoritmo matemático que transforma cualquier bloque arbitrario de datos en una nueva serie de caracteres con una longitud fija.
                            Independientemente de la longitud de los datos de entrada, el valor hash de salida tendrá siempre la misma longitud. La función más común 
                            tiene que ver con las contraseñas. Por ejemplo, si alguna vez olvidas tu contraseña de algún servicio en línea, probablemente tengas que 
                            resetearla. Cuando se restablece una contraseña, por lo general no recibes una clave en texto plano. Eso es debido a que los servicio en 
                            línea no almacenan las contraseñas en texto plano, sino que las almacenan bajo el valor hash de la contraseña. De hecho, el servicio 
                            (a menos que utilices una contraseña demasiado simple, que haga que el valor hash sea ampliamente conocido) no tiene idea de cuál es la 
                            contraseña real. Para que quede claro, si recibes una contraseña en texto plano, quiere decir que el servicio en línea que estás utilizando 
                            no está haciendo un hashing de tu contraseña. Eso sería realmente peligroso porque podria haber un filtrado de información.
                        </p>
                        <br>
                        <p class="Parrafo">
                            Tal y como las compañías discográficas y cinematográficas crean listas de hash rechazados para proteger sus datos, también existen listas de
                            hash de malware y muchas de ellas son de acceso público. Estas listas, o firmas de malware (como también se las conoce), están conformadas 
                            por valores hash de las piezas de malware o de algunas partes pequeñas y reconocibles de estas piezas. Por un lado, si un usuario detecta una 
                            archivo sospechoso, puede consultar en las bases de datos públicas y, de esta forma, sabrá si se trata o no de un archivo malicioso. Por el otro,
                            los productos antivirus detectan y bloquean los malware comparando los hash con sus propias bases de datos y con las públicas.
                            Por otra parte, las funciones criptográficas hash se utilizan también para asegurar la “integridad de los mensajes”. En pocas palabras, para estar seguros de que algunas 
                            comunicaciones o archivos no fueron alterados de alguna forma, se pueden examinar los hash creados antes y después de la transmisión de los datos. Si los dos hash son idénticos, 
                            significa que no ha habido ninguna alteración.
                        </p>
                        <img src="../assets/Hash.png" class="Imagen" alt="">
                    </article>
                </div>
            </div>
</template>


<style>

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/fondo-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 4em;       
}

/*Configuración del Contenido interno Documentación*/

.contenido
{
    display: flex;
    margin: 25px 50px 50px 50px ;
    background-color: #0b0713;
    box-shadow: 1px 1px 37px rgb(121, 116, 121);
}

h2
{
    padding: 10px;
    font-size: 26px;
    text-align: center;
    color: white
    
}

p
{
    padding: 10px;
    font-size: 18px;
    color: white;
    
}


.centro
{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
}


/*Configuración del contexto del Documento*/

.Imagen
{
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-style: solid;
}

.Parrafo
{
    text-align: justify;
    line-height: 20px;
    margin-left: 40px;
    margin-right: 60px;
}

table
{
    width: 80%;
    
}
</style>