<template>
<div>
    <body oncopy="return false" onpaste="return false">            
        <section class="form-registro">
            <h4>Registra tu Usuario</h4>
            <img src="../assets/Usuario.png" class = "Usuario" alt="">
            <form action="Registro.php" id="form" method="POST">
            
                <input type="text" class="campos" name="nombre" id="nombre" placeholder="Ingrese su Nombre" required=""  onkeydown="EvitarN(event);" onkeyup="EvitarN(event);" autocomplete = "off">
               
                <input type="text" class="campos" name="apellido" id="apellido" placeholder="Ingrese su Apellido" required="" onkeydown="EvitarN(event);" onkeyup="EvitarN(event);" autocomplete = "off">
                
            
                <input type="date" class="campos" name="fecha" id="date" placeholder="Ingrese Fecha de Nacimiento" required="" min="1960-01-01"  max="2050-01-01" autocomplete = "off">
            
                <input type="email" class="campos" name="correo" id="correo" placeholder="Ingrese su Correo" required="" autocomplete = "off">
                
                <input type="password" class="campos" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña" required="" autocomplete = "off">

                <input type="password" class="campos" name="contraseña" id="contraseña2" placeholder="Vuelva a Ingresar su Contraseña" required="" autocomplete = "off">
                
                <p>Acepto los <a href="Terminos de Servicio.html">Terminos y Condiciones</a> </p>
                <button class="buttom" type="submit" id= "Registrar" onclick="boton">Registrate</button>
               </form>
        </section>
    </body>  
</div>
    
</template>

<script>
//Funciones que se usa que con el código ASCII para evitar que en los inputs ingrese caracteres especiales o numeros
function EvitarN(e) 
      {
            var keyCode = (e.keyCode ? e.keyCode : e.which);
            if (keyCode >= 47 && keyCode < 64) 
            {
            e.preventDefault();
            }
            if (keyCode >= 96 && keyCode < 106) 
            {
            e.preventDefault();
            }
            if (keyCode >= 32 && keyCode < 48) 
            {
            e.preventDefault();
            }

            if (keyCode >= 91 && keyCode < 96) 
            {
            e.preventDefault();
            }
            if (keyCode >= 123 && keyCode < 255) 
            {
            e.preventDefault();
            }
            if (keyCode >= 106 && keyCode < 112) 
            {
            e.preventDefault();
            }
      }

      
      function EvitarC(e) 
      {
            e.preventDefault();
            if (keyCode >= 58 && keyCode < 63) 
            {
            e.preventDefault();
            }
            if (keyCode >= 91 && keyCode < 96) 
            {
            e.preventDefault();
            }
            if (keyCode >= 91 && keyCode < 96) 
            {
            e.preventDefault();
            }
      }
            

        document.getElementById('boton').onclick = function()
        {
            if (document.form2.textview.value == Submit) 
            {
                  document.form2.textview.value = "";
            }
        }
</script>

<style>
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/fondo-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 4em;       
}

    
/*Configuración Formulario*/

.form-registro
{
    width: 400px;
    background: rgba(9, 2, 36, 0.781);
    padding: 30px;
    margin: auto;
    margin-top: 25px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 1px 1px 37px rgb(223, 216, 223);
    
}

.form-registro h4
{
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

.form-registro .Usuario
{
   height: 225px;
   width: 225px;
   margin-left: 90px;
   margin-bottom: 20px;
}

.campos
{
    width: 90%;
    background: rgba(17, 5, 54, 0.527);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    font-size: 18px;
    color: white;
    margin-left: 15px;
}   

.form-registro p
{
    height: 40px;
    text-align:center;
    font-size: 18px;
    line-height: 40px;
}

.form-registro a
{
    color: white;
    text-decoration: underline;
}

.form-registro .buttom
{
    width: 100%;
    background: #234285;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.form-registro .buttom:hover
{
    background: #135af2;
    transition-duration:  0.4sg;
} 
</style>

