<template>
<body>
  <div class="contenido">
        <div>
                    <h2>Bienvenido al Portafolio</h2>
                    <p>Este Portafolio está en desarrollo y puede que mejore
                        con el paso del tiempo puedes considerar esto la versión 1.0.
                        aqui encontrarás los códigos que se, elaboren y una pequeña
                        documentación sobre los temas relacionados a la codificación
                        de código orientado a objetos o el POO.</p>
                    <br>
              <img src="../assets/inicio.jpg" class="centro" alt="#">
        </div>
  </div>         
</body>
  
           
</template>

<script>

</script>


<style>
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/fondo-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 4em;       
}

/*Configuración del Contenido interno Documentación*/

.contenido
{
    display: flex;
    margin: 25px 50px 50px 50px ;
    background-color: #0b0713;
    box-shadow: 1px 1px 37px rgb(121, 116, 121);
}

h2
{
    padding: 10px;
    font-size: 26px;
    text-align: center;
    color: white
    
}

p
{
    padding: 10px;
    font-size: 18px;
    color: white;
    
}


.centro
{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
}

</style>
