<template>
    <footer class="footer">
        <h3>Derechos Reservados a Gabriel Gamboa ©</h3>
    </footer>
</template>

<style>
.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #052957;
    margin-top: 15px;
    border-radius: 4px #121212;
}

.footer h3
{
    font-size: 14px;
    color:antiquewhite;
}
</style>