<template>
  <div>
     <Header/>
     
    <div id="nav">
    <nav>
        <ul>
            <router-link to="/"><li><a>Inicio</a></li></router-link>
            <router-link to="/about"><li><a>Documentación</a></li></router-link>
            <router-link to="/Codigos"><li><a>Codigos</a></li></router-link>
            <router-link to="/Formulario"><li><a>Registro</a></li></router-link>
            <router-link to="/Buscaminas"><li><a>Juego</a></li></router-link>
        </ul>
    </nav>
    <Footer/>
    </div>
        <router-view/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'App',
  components: {
    Header,
    Footer,
  }
}
</script>

<style>

nav ul
{
    background-color: rgb(78, 27, 114);
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li
{
    display: inline-flex;
}

nav a 
{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;

}

nav li:hover
{
    background-color: rgb(42, 0, 90);
}

.active
{
    background-color: rgb(33, 2, 51);
    
}
</style>
